[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Werkzeug = "*"
click = ">=5.0"
Flask-SQLAlchemy = "*"
SQLAlchemy = "*"
Flask-Migrate = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-restful = "*"
email-validator = "==1.1.1"
Flask-WTF = "==0.14.3"
WTForms = "==2.3.3"
supervisor = "==4.2.1"
Flask-Static-Digest = "==0.1.3"
Flask-Caching = ">=1.0.0"
Flask-DebugToolbar = "==0.11.0"
environs = "==8.0.0"
simple-pid = "*"
spidev = {version = "*", sys_platform = "=='armv7l'"}
"rpi.gpio" = {version = "*", sys_platform = "=='armv7l'"}

[dev-packages]
pytest = "*"
WebTest = "*"
factory-boy = "*"
pdbpp = "*"
black = "==19.10b0"
flake8 = "*"
flake8-blind-except = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-isort = "*"
isort = "*"
pep8-naming = "*"
requests = "*"
