[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Werkzeug = "*"
click = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy = "*"
Flask-Migrate = "*"
marshmallow-sqlalchemy = "*"
marshmallow-enum = "*"
flask-marshmallow = "*"
celery = "*"
redis = "*"
flask-restx = "*"
Flask-WTF = "*"
WTForms = "*"
supervisor = "*"
environs = "*"
simple-pid = "*"
spidev = {version = "*", sys_platform = "=='armv7l'"}
"rpi.gpio" = {version = "*", sys_platform = "=='armv7l'"}
pybeerxml = "*"

[dev-packages]
pytest = "*"
WebTest = "*"
factory-boy = "*"
pdbpp = "*"
black = "==19.10b0"
flake8 = "*"
flake8-blind-except = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-isort = "*"
isort = "*"
pep8-naming = "*"
requests = "*"
pytest-mock = "*"
pytest-cov = "*"
