[Unit]
Description=Brew Pi
Requires=brewpi.socket
After=network.target

[Service]
Type=notify
User=pi
WorkingDirectory=/home/pi/brewpi
ExecStart=pipenv run gunicorn -w4 -b 127.0.0.1:5000 "brewpi.app:create_app()"
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
